### Q1. Create one variable containing following type of data:
(i) string<br>
(ii) list<br>
(iii) float<br>
(iv) tuple

In [2]:
v_1 = "Souvik"                           # String
print(type(v_1))
v_2 = ["S", 0, "U", 2.1, True, 11.0+0j]  #List
print(type(v_2))
v_3 = 3.141592653                        # Float
print(type(v_3))
v_4 = (4,5)                              # Tuple
print(type(v_4))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘<br>
(ii) var2 = ‘[ DS , ML , Python]’<br>
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]<br>
(iv) var4 = 1.<br>
<br>
##### ANSWER: String, String, List, Float

#### Q3. Explain the use of the following operators using an example:
(i) / <br>
(ii) % <br>
(iii) // <br>
(iv) **

In [3]:
print(6/4) # Division Operator
print(6%4) # Remainder Operator
print(6//4) # Division Floor Operator
print(6**4) # To the power

1.5
2
1
1296

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [6]:
my_list = [10, 5.0, "1996", False, 50+10j]

for item in my_list:
    print(f"{item} : {type(item)}")

10 : <class 'int'>
5.0 : <class 'float'>
1996 : <class 'str'>
False : <class 'bool'>
(50+10j) : <class 'complex'>

#### Q5: Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [19]:
D = int(input("Enter the Higher value (Dividend): "))
b = int(input("Enter the Lower value (Divisor): "))

count=0
a=D
while a%b==0:
 count+=1
 a=a//b
    
print(f"{D} is {count} times divisible by {b}")

Enter the Higher value (Dividend):  72
Enter the Lower value (Divisor):  6

72 is 2 times divisible by 6

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [29]:
import random
A = [random.randint(25,250) for item in range (25)]
print("Main List: ", A)

print("\n")

B = []
for items in A:
    if items%3==0:
        B.append(items)

print("Items divisible by three:",B)

Main List:  [82, 127, 175, 231, 144, 91, 67, 59, 131, 72, 178, 142, 101, 63, 86, 49, 41, 119, 190, 213, 211, 58, 239, 211, 159]


Items divisible by three: [231, 144, 72, 63, 213, 159]

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutability is a property for a collection type datatype, where we can change of update any data in between. In the below example we can see that "A String is immutable, but a list is mutable"

In [31]:
a = "Souvik"
a[3]="r"
### String is immutable

TypeError: 'str' object does not support item assignment

In [32]:
###However List mutable:
S = ["S", "O", "U", "V", "I", "K"]
S[3] = "R"
print(S)

['S', 'O', 'U', 'R', 'I', 'K']